
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- routerLink ile internal olarak uygulamaya tanıtılır. href benzer fakat href angular scope dışındadır. href external link olarak tercih ederiz.  -->

<!-- Html yeni bir özellik kazandıran yapılara directive ismin, veririz. -->

<!-- Elemente html attribute olarak uygulanan yapılar. -->

<!-- routerlink tarayıcı reload etmeden sayfalar arası yönlendirme sağlar -->

<ul>
  <li>
    <a routerLink="property-event-binding">Property Event Binding Örneği</a>
  </li>
  <li>
    <a routerLink="ngif-ngfor">Ng If Ng For Ng-Template Örneği</a>
  </li>
  <li>
    <a [routerLink]="['ngswitch-ngclass-ngstyle']">Ng Switch Ng Class Ng Style</a>
  </li>
</ul>


<!-- router outlet directive ne işe yarar -->
<!-- route değişiminde componentler aşağıda işaretlenmiş olan directive ile doma yükleniyor. -->
<router-outlet></router-outlet>
