
<ul>
  <li *ngFor="let user of users">
    {{user.username}}
  </li>
</ul>


<hr>

<ul>
  <li *ngFor="let user of users2">
    {{user.username}} - {{user.email}}

    <!-- DOM da bu span koşula göre görüntülenecektir -->
    <!-- <span *ngIf="!user.website">
      Web Site Bilgisi Eksik
    </span> -->

    <!-- 2.yöntem -->

    <span *ngIf="user.website then withWebSite else withoutWebSite"></span>

  </li>
</ul>

<!-- ng-template normalde ekran görünmeyen fakat koşula göre ekrana yansıyan bir container görevi görür. -->
<!-- ng-template içerisindeki element ekran yansır. -->
<ng-template #withWebSite let-website>
  <p>{{website}}</p>
</ng-template>
<ng-template #withoutWebSite let-username>
  <p>Web Site bilgisi Yok</p>
</ng-template>
